html
  head
    style
        include style.css
    title Translatr

    body
        div.container
            h1 Translatr
            form(action='/', method='POST').box
                if error
                    div.row
                        div.column
                            div.error=error
                div.row
                    div.column
                        select(name='srcLangCode')
                            each name, key in availableLanguages
                                option(value=key, selected= key == sourceLangCode) #{name.name} #{name.flag}
                        textarea(type='text', name='text', placeholder='Start typing here...')= text
                    div.column.middle
                        span.arrow &rarr;
                    div.column
                        select(name='targetLangCode')
                            each name, key in availableLanguages
                                option(value=key, selected= key == targetLangCode) #{name.name} #{name.flag}
                        div.translated=translatedText
                div.row
                    div.column
                        button Translate